@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.container{
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}


.container-box{
	height:500px;
	width: 700px;
	display: flex;
	margin:0 auto;
	background-color: white;
	margin-top:50px;
	box-shadow: 0px 0px 15px 15px lightgray;
	position: relative;
	align-items:center;
	justify-content:center;
}


img{
	height: 500px;
	width:300px ;
	background-size:cover ;
}


.para{
	padding:35px 0 0 30px;
	/* position: relative; */
	margin-top: -77px;
}

h2{
	color: rgb(173, 170, 170);
	font-size: 24px;
}



span{
	font-size: 27px;
    color: black;
    font-weight: 700;
}



p{
	padding-top: 20px;
	font-size: 15px;
	line-height: 30px;
	margin-right:77px;
}





form{
	margin-left:-18px;
	
}


form .details  i{
	font-size: 21px;
    margin-right: 10px;
	color: lightgray;
}



.details {
    padding: 0px 0 10px 20px;
    font-size: 30px;
	display:inline-block;
    color: lightgray;
}


.fa-envelope-o:before{
	content: "\f003";
	font-size: 21px;
    margin-right: 2px;
    color: lightgray;
}



input{
	margin-top: 20px;
	height:40px;
	width:270px;
	border:none;
	outline:none;
	font-size:16px;
	padding-bottom: 25px;
	border-bottom: 1px solid lightgray;
}

input[type="password"]{
	margin-left: 15px;
}


.login{
	display: inline-block;
	margin-top: 60px;
}



.btn {
	border-radius: 25px;
	margin-left: 200px;
    padding: 14px 40px;
    border: none;
	text-decoration: none;
    background-color: rgb(176,138,248);
    color: white;
    font-size: 17px;
    
}

.para .login .Link{
	margin-left: 214px;
    display: inline-block;
    margin-top: 50px;
}

.settings{
	height: 200px;
	width: 100px;
}



.settings .icon{
	position: absolute;
    top: 25px;
    left: 30px;
    font-size: 45px;
	color: cornsilk;
}














